// Inter Bold (700)
@font-face {
  font-style: normal;
  font-weight: 700;
  src: url('/leadconveer/fonts/Inter-Bold.woff2') format('woff2');
  font-family: 'Inter';
  font-display: swap;
}

// Inter Semi Bold (600)
@font-face {
  font-style: normal;
  font-weight: 600;
  src: url('/leadconveer/fonts/Inter-SemiBold.woff2') format('woff2');
  font-family: 'Inter';
  font-display: swap;
}

// Inter Regular (400)
@font-face {
  font-style: normal;
  font-weight: 400;
  src: url('/leadconveer/fonts/Inter-Regular.woff2') format('woff2');
  font-family: 'Inter';
  font-display: swap;
}

// Montserrat Bold (700)
@font-face {
  font-style: normal;
  font-weight: 700;
  src: url('/leadconveer/fonts/Montserrat-Bold.woff2') format('woff2');
  font-family: 'Montserrat';
  font-display: swap;
}
