@use '@/shared/mixins' as *;

:root {
  //Colors
  --light-grey: #f6f6f6;
  --orange-juice: #f60;
  --light-orange: #ff9832;
  --dark-orange: #cd3400;
  --white: #fff;
  --dark-grey: #2d2d2d;
  --grey: #808080;
  --blueberry: #8a38d6;
  --grey2: #c0c0c0;

  // Fonts
  --font-family: 'Inter';
  --second-family: 'Montserrat', sans-serif;
  --third-family: 'Kollektif', sans-serif;
  --fallback-family: 'Helvetica', 'Arial', sans-serif;

  // Time
  --time-hover: 300ms;
}

body {
  display: flex; //!
  align-items: center; //!
  justify-content: center; //!
  min-width: 100vw; //!
  max-width: 1920px;
  min-height: 100vh; //!
  margin: 0 auto;
  background-color: var(--white);
  font-family: var(--font-family), var(--fallback-family);
}

* {
  box-sizing: border-box;
}

button {
  padding: 0;
  border: none;
  background-color: transparent;
}

a {
  color: inherit;
  text-decoration: none;
}

.accent-color {
  color: var(--orange-juice);
}

.accent-price-color {
  background: linear-gradient(90deg, #f60 0%, #f26659 27.4%, #f06177 37.4%, #e55d97 48.4%, #ca46d2 71.4%, #8d13f9 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
