@use '@/shared/mixins' as *;

.BackgroundImage {
  position: relative;
  width: 677px;
  height: 442px;
  background-image: url('/leadconveer/images/technology-x2.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  &__Star1 {
    position: absolute;
    top: 15px;
    left: -76px;
  }

  &__Star2 {
    position: absolute;
    right: 26px;
    bottom: -62px;
  }
}
