@use '@/shared/mixins' as *;

.Clients {
  &__Content {
    @include media-fullHD {
      padding: 0;
    }
  }

  &__Title {
    max-width: 1024px;
    margin: 0 auto;
    padding-bottom: 20px;
  }

  &__Subtitle {
    max-width: 637px;
    margin: 0 auto;
    @include media-initial {
      padding-bottom: 20px;
    }
    @include media-laptop {
      padding-bottom: 40px;
    }
  }
}
