@use '@/shared/mixins' as *;

.ClientCard {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: var(--light-grey);
  @include media-initial {
    max-width: 215px;
    height: 100px;
    border-radius: 10px;
  }
  @include media-desktop {
    max-width: 430px;
    height: 200px;
    border-radius: 30px;
  }
}
