@use '@/shared/mixins' as *;

.ElementCardLabel {
  width: max-content;
  padding: 10px 20px;
  border: 1px solid transparent;
  @include media-initial {
    border-radius: 10px;
    @include font-figma-H3(16px);
  }
  @include media-desktop {
    border-radius: 20px;
    @include font-figma-H3(32px, 116%);
  }
  &_LightTheme {
    border-color: var(--dark-grey);
    color: var(--dark-grey);
  }
  &_DarkTheme {
    border-color: var(--white);
    backdrop-filter: blur(20px);
    background-color: rgba(255, 255, 255, 0.1);
    color: var(--white);
  }
}
