@use '@/shared/mixins' as *;

.Faq {
  &__Content {
    @include media-fullHD {
      padding: 0;
    }
  }

  &__Title {
    @include media-initial {
      padding-bottom: 20px;
    }
    @include media-desktop {
      padding-bottom: 39px;
    }
  }
}
