@use '@/shared/mixins' as *;

.Hero {
  background-color: var(--light-grey);
  @include media-fullHD {
    border-bottom-right-radius: 40px;
    border-bottom-left-radius: 40px;
  }

  &__Content {
    display: flex;
    @include media-initial {
      flex-direction: column;
      align-items: center;
    }
    @include media-desktop {
      flex-direction: row-reverse;
      align-items: flex-end;
      justify-content: center;
      gap: 50px;
    }
    @include media-fullHD {
      align-items: flex-start;
      justify-content: flex-end;
      padding-right: 0;
      gap: 128px;
    }
  }

  &__Tabs {
    @include media-initial {
      padding-top: 30px;
    }
    @include media-desktop {
      padding: 60px 30px 0;
    }
  }
}
