@use '@/shared/mixins' as *;

.Hero {
  background-color: var(--light-grey);
  @include media-fullHD {
    border-bottom-right-radius: 40px;
    border-bottom-left-radius: 40px;
  }

  &__Content {
    display: flex;
    @include media-initial {
      flex-direction: column;
      align-items: center;
    }
    @include media-desktop {
      flex-direction: row-reverse;
      align-items: flex-end;
      justify-content: center;
      gap: 50px;
    }
    @include media-fullHD {
      align-items: flex-start;
      justify-content: flex-end;
      padding-right: 0;
      gap: 128px;
    }
  }

  &__ImageContainer {
    position: relative;
  }

  &__Image {
    max-width: 791px;
  }

  &__Star1 {
    z-index: 1;
    position: absolute;
    bottom: 15.6%;
    width: calc(60px / 791px * 100%);
    height: calc(60px / 497px * 100%);
    @include media-initial {
      left: 0;
    }
    @include media-laptop {
      left: -3.7%;
    }
  }

  &__Star2 {
    z-index: 1;
    position: absolute;
    top: 21.4%;
    width: calc(62px / 791px * 100%);
    height: calc(62px / 497px * 100%);
    @include media-initial {
      right: 0;
    }
    @include media-laptop {
      right: -3.8%;
    }
  }

  &__Text {
    display: flex;
    flex-direction: column;
    @include media-initial {
      align-items: center;
      padding-top: 30px;
      gap: 20px;
    }
    @include media-tablet {
      gap: 30px;
    }
    @include media-desktop {
      align-items: flex-start;
      padding-top: 55px;
      gap: 40px;
    }
  }

  &__Price {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    @include media-desktop {
      justify-content: flex-start;
      gap: 20px;
    }
  }

  &__Subtitle {
    @include media-desktop {
      max-width: 525px;
    }
  }

  &__Button {
    @include media-initial {
      max-width: 300px;
    }
    @include media-desktop {
      max-width: revert;
    }
  }

  &__Tabs {
    @include media-initial {
      padding-top: 30px;
    }
    @include media-desktop {
      padding: 60px 30px 0;
    }
  }

  &__TabsList {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }
}
