@use '@/shared/mixins' as *;

.HeroTabElement {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 280px;
  min-height: 88px;
  padding: 20px 14px;
  background-color: var(--white);
  color: var(--grey);
  text-align: center;
  @include font-regular(20px, 121%);
  @include media-initial {
    border-radius: 10px;
  }
  @include media-fullHD {
    border-radius: 30px 30px 0 0;
  }
}
