@use '@/shared/mixins' as *;

.ImageContainer {
  position: relative;

  &__Image {
    max-width: 791px;
  }

  &__Star1 {
    z-index: 1;
    position: absolute;
    bottom: 15.6%;
    width: calc(60px / 791px * 100%);
    height: calc(60px / 497px * 100%);
    @include media-initial {
      left: 0;
    }
    @include media-laptop {
      left: -3.7%;
    }
  }

  &__Star2 {
    z-index: 1;
    position: absolute;
    top: 21.4%;
    width: calc(62px / 791px * 100%);
    height: calc(62px / 497px * 100%);
    @include media-initial {
      right: 0;
    }
    @include media-laptop {
      right: -3.8%;
    }
  }
}
