@use '@/shared/mixins' as *;

.Video {
  position: relative;
  width: 100%;
  cursor: pointer;

  &__Item {
    width: 100%;
    height: auto;
    object-fit: cover;
    background-color: var(--dark-grey);
    @include media-initial {
      border-radius: 20px;
    }
    @include media-desktop {
      border-radius: 40px;
    }
  }

  &__ButtonPlay {
    position: absolute;
    min-width: 31px;
    min-height: 37px;
    margin: auto;
    inset: 0;
    background-image: url('/leadconveer/svg/video-play-icon.svg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    cursor: pointer;
  }
}
