@use '@/shared/mixins' as *;

.Smile {
  flex-shrink: 0;
  width: 36px;
  height: 36px;
  background-image: url('/leadconveer/svg/smile-money.svg');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;

  @include media-desktop {
    width: 72px;
    height: 72px;
  }
}
