@use '@/shared/mixins' as *;

.Contacts {
  @include media-initial {
    scroll-margin-top: 122px;
  }
  @include media-laptop {
    scroll-margin-top: 40px;
  }

  &__Title {
    margin-bottom: 20px;
  }

  &__Subtitle {
    @include media-initial {
      margin-bottom: 20px;
    }
    @include media-desktop {
      margin-bottom: 60px;
    }
  }
}
