@use '@/shared/mixins' as *;

.ElementSmile {
  flex-shrink: 0;
  background-image: url('/leadconveer/svg/smile-sunglasse.svg');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  @include media-initial {
    width: 30px;
    height: 30px;
  }
  @include media-desktop {
    width: 60px;
    height: 60px;
  }
}
