@use '@/shared/mixins' as *;

.Advantages {
  &__Title {
    max-width: 997px;
    margin: 0 auto;
    @include media-initial {
      padding-bottom: 30px;
    }
    @include media-desktop {
      padding-bottom: 39px;
    }
  }

  &__Content {
    @include media-fullHD {
      padding: 0;
    }
  }
}
