@use '@/shared/mixins' as *;

.Slide {
  display: flex;
  justify-content: space-between;
  width: 1480px;

  &__Header {
    max-width: 659px;
  }

  &__Step {
    padding-bottom: 30px;
  }

  &__List {
    padding-top: 25px;
  }
}
