@use '@/shared/mixins' as *;

.AdvantageCard {
  position: relative;
  width: 100%;
  max-width: 880px;
  border-radius: 30px;
  background-color: var(--light-grey);
  @include media-initial {
    min-height: 150px;
    padding: 20px;
  }
  @include media-desktop {
    min-height: 349px;
    padding: 60px 40px;
  }

  &__Description {
    max-width: 466px;
  }

  &__Header {
    display: flex;
    align-items: flex-start;
    padding-bottom: 20px;
    @include media-initial {
      gap: 10px;
    }
    @include media-desktop {
      gap: 30px;
    }
  }

  &__Image {
    @include media-initial {
      display: none;
    }
    @include media-tablet {
      display: revert;
      z-index: 1;
      position: absolute;
      right: 0;
      bottom: 0;
    }
  }

  &__Bg {
    @include media-initial {
      display: none;
    }
    @include media-tablet {
      display: revert;
      position: absolute;
      right: 0;
      bottom: 0;
    }
  }

  &__Star {
    @include media-initial {
      width: 29px;
      height: 29px;
    }
    @include media-desktop {
      width: 44px;
      height: 44px;
    }
  }
}
