@use '@/shared/mixins' as *;

.Tick {
  display: inline-block;
  flex-shrink: 0;
  width: 28px;
  height: 100%;
  background-position: center;
  background-size: 28px 21px;
  background-repeat: no-repeat;
  font-size: 0;

  &_Black {
    background-image: url('/leadconveer/svg/tick-black.svg');
  }

  &_White {
    background-image: url('/leadconveer/svg/tick-white.svg');
  }
}
