@use '@/shared/mixins' as *;

.CardBgElement {
  background-image: url('/leadconveer/images/advantages-bg-x1.png');
  background-size: cover;
  background-repeat: no-repeat;

  @include media-initial {
    width: 170px;
    height: 100px;
    background-position: left;
  }

  @include media-desktop {
    width: 364px;
    height: 245px;
    background-position: center;
  }
}
