@use '@/shared/mixins' as *;

.HeroText {
  display: flex;
  flex-direction: column;
  @include media-initial {
    align-items: center;
    gap: 20px;
  }
  @include media-tablet {
    gap: 30px;
  }
  @include media-desktop {
    align-items: flex-start;
    gap: 40px;
  }
}
