@use '@/shared/mixins' as *;

.AdditionalServiceCard {
  position: relative;
  width: 730px;
  min-height: 330px;
  padding: 40px;
  border-radius: 40px;
  background-color: var(--light-grey);

  &__Title {
    padding-bottom: 24px;
  }

  &__CardPrice {
    padding-bottom: 34px;
  }

  &__Star {
    position: absolute;
    top: 40px;
    right: 40px;
  }
}
