@use '@/shared/mixins' as *;

.PresentationVideoIcon {
  background-image: url('/leadconveer/svg/video-presentaion-icon.svg');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  @include media-initial {
    width: 36px;
    height: 36px;
  }
  @include media-desktop {
    width: 72px;
    height: 72px;
  }
}
