@use '@/shared/mixins' as *;

.Star {
  flex-shrink: 0;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;

  &_Hero1 {
    width: 60px;
    height: 60px;
    background-image: url('/leadconveer/svg/star-hero1.svg');
  }

  &_Hero2 {
    width: 62px;
    height: 62px;
    background-image: url('/leadconveer/svg/star-hero2.svg');
  }

  &_AdvantageCard {
    width: 44px;
    height: 44px;
    background-image: url('/leadconveer/svg/star-advantage-card.svg');
  }

  &_PricingPlanCard {
    width: 56px;
    height: 56px;
    background-image: url('/leadconveer/svg/star-pricing-plan-card.svg');
  }

  &_PricingPlanCardInvert {
    width: 56px;
    height: 56px;
    background-image: url('/leadconveer/svg/star-pricing-plan-card-invert.svg');
  }

  &_AdditionalServiceCard {
    width: 48px;
    height: 48px;
    background-image: url('/leadconveer/svg/star-additional-service-card.svg');
  }

  &_ReviewCard {
    width: 49px;
    height: 49px;
    background-image: url('/leadconveer/svg/star-review-card.svg');
  }

  &_Technology1 {
    width: 72px;
    height: 72px;
    background-image: url('/leadconveer/svg/star-technology-1.svg');
  }

  &_Technology2 {
    width: 57px;
    height: 57px;
    background-image: url('/leadconveer/svg/star-technology-2.svg');
  }

  &_RegistrationFirst {
    width: 88px;
    height: 89px;
    background-image: url('/leadconveer/svg/star-registration-first.svg');
  }

  &_FeatureCard {
    width: 60px;
    height: 60px;
    background-image: url('/leadconveer/svg/star-feature-card.svg');
  }

  &_RegistrationSecond1 {
    width: 68px;
    height: 70px;
    background-image: url('/leadconveer/svg/star-registration-second-1.svg');
  }

  &_RegistrationSecond2 {
    width: 66px;
    height: 68px;
    background-image: url('/leadconveer/svg/star-registration-second-2.svg');
  }

  &_NewEra {
    width: 57px;
    height: 57px;
    background-image: url('/leadconveer/svg/star-new-era.svg');
  }
}
