@use '@/shared/mixins' as *;

.Star {
  flex-shrink: 0;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;

  &_Icon_1 {
    width: 60px;
    height: 60px;
    background-image: url('/leadconveer/svg/star-1.svg');
  }

  &_Icon_1Black {
    width: 56px;
    height: 56px;
    background-image: url('/leadconveer/svg/star-1-black.svg');
  }

  &_Icon_1White {
    width: 56px;
    height: 56px;
    background-image: url('/leadconveer/svg/star-1-white.svg');
  }

  &_Icon_2 {
    width: 62px;
    height: 62px;
    background-image: url('/leadconveer/svg/star-2.svg');
  }

  &_Icon_4 {
    width: 44px;
    height: 44px;
    background-image: url('/leadconveer/svg/star-4.svg');
  }
}
