@use '@/shared/mixins' as *;

.Presentation {
  &__Content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__Title {
    max-width: 931px;
  }

  &__VideoIcon {
    @include media-desktop {
      position: absolute;
      right: -92px;
      bottom: 0;
    }
  }
}
