@use '@/shared/mixins' as *;

.CardImageElement {
  object-fit: contain;
  vertical-align: top;

  @include media-initial {
    width: auto;
    height: 150px;
  }

  @include media-desktop {
    width: 364px;
    height: 349px;
  }
}
