@use '@/shared/mixins' as *;

.HomePage {
  &__Hero {
    @include media-initial {
      padding-top: 30px;
    }
    @include media-desktop {
      padding-top: 60px;
    }
  }

  &__Advantages {
    @include media-initial {
      padding-top: 40px;
    }
    @include media-desktop {
      padding-top: 127px;
    }
  }
}
