@use '@/shared/mixins' as *;

.HomePage {
  &__Hero {
    @include media-initial {
      margin-top: 30px;
    }
    @include media-desktop {
      margin-top: 60px;
    }
  }

  &__Advantages {
    @include media-initial {
      margin-top: 40px;
    }
    @include media-desktop {
      margin-top: 126px;
    }
  }

  &__PricingPlans {
    @include media-initial {
      margin-top: 40px;
    }
    @include media-desktop {
      margin-top: 121px;
    }
  }

  &__AdditionalServices {
    @include media-initial {
      margin-top: 40px;
    }
    @include media-desktop {
      margin-top: 111px;
    }
  }

  &__Clients {
    @include media-initial {
      margin-top: 40px;
    }
    @include media-desktop {
      margin-top: 121px;
    }
  }

  &__Reviews {
    @include media-initial {
      margin-top: 40px;
    }
    @include media-desktop {
      margin-top: 121px;
    }
  }

  &__LeadTechnology {
    @include media-initial {
      margin-top: 40px;
    }
    @include media-desktop {
      margin-top: 120px;
    }
  }

  &__RegistrationFirst {
    @include media-initial {
      margin-top: 40px;
    }
    @include media-desktop {
      margin-top: 121px;
    }
  }

  &__HowItWorks {
    @include media-initial {
      margin-top: 40px;
    }
    @include media-desktop {
      margin-top: 121px;
    }
  }

  &__Presentation {
    @include media-initial {
      margin-top: 40px;
    }
    @include media-desktop {
      margin-top: 121px;
    }
  }

  &__Features {
    @include media-initial {
      margin-top: 40px;
    }
    @include media-desktop {
      margin-top: 119px;
    }
  }

  &__RegistrationSecond {
    @include media-initial {
      margin-top: 40px;
    }
    @include media-desktop {
      margin-top: 120px;
    }
  }

  &__Faq {
    @include media-initial {
      margin-top: 40px;
    }
    @include media-desktop {
      margin-top: 121px;
    }
  }

  &__NewEra {
    @include media-initial {
      margin-top: 40px;
    }
    @include media-desktop {
      margin-top: 90px;
    }
  }

  &__Contacts {
    @include media-initial {
      margin-top: 40px;
    }
    @include media-desktop {
      margin-top: 120px;
    }
  }

  &__Footer {
    @include media-initial {
      margin-top: 40px;
    }
    @include media-desktop {
      margin-top: 119px;
    }
  }
}
