@use '@/shared/mixins' as *;

.PlanCard {
  display: flex;
  flex-direction: column;
  width: 100%;

  &_Light {
    background-color: var(--light-grey);
  }
  &_Dark {
    background-color: var(--dark-grey);
  }
  @include media-initial {
    max-width: 380px;
    padding: 20px;
    border-radius: 10px;
  }
  @include media-desktop {
    max-width: 580px;
    min-height: 813px;
    padding: 40px;
    border-radius: 30px;
  }

  &__Star {
    @include media-initial {
      width: 28px;
      height: 28px;
    }
    @include media-desktop {
      width: 56px;
      height: 56px;
    }
  }

  &__Content {
    @include media-desktop {
      max-width: 443px;
    }
  }

  &__Header {
    display: flex;
    align-items: center;
    gap: 20px;
    @include media-initial {
      padding-bottom: 20px;
    }
    @include media-desktop {
      padding-bottom: 30px;
    }
  }

  &__TitleContainer {
    padding-bottom: 20px;
    background: linear-gradient(
      90deg,
      #f60 0%,
      #f26659 27.4%,
      #f06177 37.4%,
      #e55d97 48.4%,
      #ca46d2 71.4%,
      #8d13f9 100%
    );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  &__Description {
    @include media-initial {
      padding-bottom: 20px;
    }
    @include media-desktop {
      padding-bottom: 30px;
    }
  }

  &__Stats {
    @include media-initial {
      padding-bottom: 20px;
    }
    @include media-desktop {
      padding-bottom: 30px;
    }
  }

  &__Button {
    margin-top: auto;
  }
}
