@use '@/shared/mixins' as *;

.PricingPlanCard {
  display: flex;
  flex-direction: column;
  width: 580px;
  min-height: 813px;
  padding: 40px;
  border-radius: 30px;
  background: var(--light-grey);
  &_Invert {
    background-color: var(--dark-grey);
  }

  &__Content {
    max-width: 424px;
  }

  &__Header {
    padding-bottom: 31px;
  }

  &__Price {
    padding-bottom: 21px;
  }

  &__Description {
    padding-bottom: 30px;
  }

  &__FeatureList {
    display: flex;
    flex-direction: column;
    padding-bottom: 40px;
    gap: 20px;
  }

  &__Button {
    margin-top: auto;
  }
}
