@use '@/shared/mixins' as *;

.VideoButton {
  width: 70px;
  height: 70px;
  background-position: right;
  background-repeat: no-repeat;
  cursor: pointer;
  @include effect-hover-VideoButton;

  &_Play {
    background-image: url('/leadconveer/svg/video-play-icon.svg');
    background-size: 53px 62px;
  }

  &_Pause {
    background-image: url('/leadconveer/svg/video-pause-icon.svg');
    background-size: 62px;
    opacity: 0;
  }
}
