@use '@/shared/mixins' as *;

.BackgroundImage {
  position: relative;
  width: 683px;
  height: 403px;
  background-image: url('/leadconveer/images/registration-second-x2.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  &__Star1 {
    position: absolute;
    top: 8px;
    left: 6px;
  }

  &__Star2 {
    position: absolute;
    right: 50px;
    bottom: 33px;
  }
}
