@use '@/shared/mixins' as *;

.Header {
  position: relative;
  width: 100%;
  background-color: var(--dark-grey);
  &::after {
    z-index: -1;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: var(--light-grey);
    content: '';
  }
  @include media-fullHD {
    border-bottom-right-radius: 40px;
    border-bottom-left-radius: 40px;
  }

  &__Content {
    display: flex;
    align-items: center;
    min-height: 82px;
    @include media-initial {
      justify-content: space-between;
    }
    @include media-laptop {
      justify-content: flex-start;
    }
    @include media-fullHD {
      padding-right: 30px;
    }
  }

  &__ButtonBurgerElement {
    @include media-laptop {
      display: none;
    }
  }

  &__LogoElement {
    @include media-laptop {
      margin-right: auto;
    }
  }

  &__Navigation {
    @include media-initial {
      display: none;
    }
    @include media-laptop {
      display: revert;
      margin-right: auto;
    }
    @include media-fullHD {
      margin-right: 230px;
    }
  }

  &__Contacts {
    @include media-initial {
      display: none;
    }
    @include media-desktop {
      display: flex;
    }
  }
}
