@use '@/shared/mixins' as *;

.HeroPrice {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;

  @include media-desktop {
    justify-content: flex-start;
    gap: 20px;
  }

  &__HeroSubtitleElement {
    @include media-desktop {
      max-width: 525px;
    }
  }
}
