// Figma mixins
@mixin font-figma-H1 {
  font-weight: 700;
  font-size: 80px;
  line-height: 1;
  font-family: var(--second-family);
}

@mixin font-figma-H2 {
  font-weight: 700;
  font-size: 48px;
  line-height: 52px;
  font-family: var(--second-family);
}

@mixin font-figma-H3 {
  font-weight: 400;
  font-size: 32px;
  line-height: 1;
  font-family: var(--font-family);
}

@mixin font-figma-txt {
  font-weight: 400;
  font-size: 24px;
  line-height: 1;
  font-family: var(--font-family);
}

@mixin font-figma-button {
  font-weight: 700;
  font-size: 24px;
  line-height: 1;
  font-family: var(--third-family);
}

// Adaptive mixins
@mixin font-apadtive-size($_minWidth, $_maxWidth, $_minFontSize, $_maxFontSize) {
  font-size: calc(
    #{$_minFontSize + px} + calc($_maxFontSize - $_minFontSize) *
      ((100vw - #{$_minWidth + px}) / calc($_maxWidth - $_minWidth))
  );
}

// Weight mixins
@mixin font-black($_fontFamily, $_fontSize, $_lineHeight: 1, $_letterSpacing: normal) {
  font-weight: 900;
  font-size: $_fontSize;
  line-height: $_lineHeight;
  font-family: $_fontFamily;
  letter-spacing: $_letterSpacing;
}

@mixin font-extrabold($_fontFamily, $_fontSize, $_lineHeight: 1, $_letterSpacing: normal) {
  font-weight: 800;
  font-size: $_fontSize;
  line-height: $_lineHeight;
  font-family: $_fontFamily;
  letter-spacing: $_letterSpacing;
}

@mixin font-bold($_fontSize, $_lineHeight: 1, $_letterSpacing: normal) {
  font-weight: 700;
  font-size: $_fontSize;
  line-height: $_lineHeight;
  font-family: $_fontFamily;
  letter-spacing: $_letterSpacing;
}

@mixin font-semibold($_fontSize, $_lineHeight: 1, $_letterSpacing: normal) {
  font-weight: 600;
  font-size: $_fontSize;
  line-height: $_lineHeight;
  font-family: $_fontFamily;
  letter-spacing: $_letterSpacing;
}

@mixin font-medium($_fontSize, $_lineHeight: 1, $_letterSpacing: normal) {
  font-weight: 500;
  font-size: $_fontSize;
  line-height: $_lineHeight;
  font-family: $_fontFamily;
  letter-spacing: $_letterSpacing;
}

@mixin font-regular($_fontSize, $_lineHeight: 1, $_letterSpacing: normal) {
  font-weight: 400;
  font-size: $_fontSize;
  line-height: $_lineHeight;
  font-family: $_fontFamily;
  letter-spacing: $_letterSpacing;
}

@mixin font-light($_fontSize, $_lineHeight: 1, $_letterSpacing: normal) {
  font-weight: 300;
  font-size: $_fontSize;
  line-height: $_lineHeight;
  font-family: $_fontFamily;
  letter-spacing: $_letterSpacing;
}

@mixin font-extraLight($_fontSize, $_lineHeight: 1, $_letterSpacing: normal) {
  font-weight: 200;
  font-size: $_fontSize;
  line-height: $_lineHeight;
  font-family: $_fontFamily;
  letter-spacing: $_letterSpacing;
}

@mixin font-thin($_fontSize, $_lineHeight: 1, $_letterSpacing: normal) {
  font-weight: 100;
  font-size: $_fontSize;
  line-height: $_lineHeight;
  font-family: $_fontFamily;
  letter-spacing: $_letterSpacing;
}
