// Apadtive size
@mixin font-apadtive-size($_minFontSize, $_maxFontSize, $_minWidth, $_maxWidth) {
  font-size: calc(
    #{$_minFontSize + px} + calc($_maxFontSize - $_minFontSize) *
      ((100vw - #{$_minWidth + px}) / calc($_maxWidth - $_minWidth))
  );
}

// Inter 400 700 600
// Montserrat 700

// Figma mixins
@mixin font-figma-H1($_fontSize: 80px, $_lineHeight: 100%) {
  font-weight: 700;
  font-size: $_fontSize;
  line-height: $_lineHeight;
  font-family: var(--second-family);
}

@mixin font-figma-H2($_fontSize: 48px, $_lineHeight: 108%) {
  font-weight: 700;
  font-size: $_fontSize;
  line-height: $_lineHeight;
  font-family: var(--second-family);
}

@mixin font-figma-H3($_fontSize: 32px, $_lineHeight: 121%) {
  font-weight: 400;
  font-size: $_fontSize;
  line-height: $_lineHeight;
  font-family: var(--font-family);
}

@mixin font-figma-txt($_fontSize: 24px, $_lineHeight: 121%) {
  font-weight: 400;
  font-size: $_fontSize;
  line-height: $_lineHeight;
  font-family: var(--font-family);
}

@mixin font-figma-txt-bold($_fontSize: 24px, $_lineHeight: 121%) {
  font-weight: 700;
  font-size: $_fontSize;
  line-height: $_lineHeight;
  font-family: var(--font-family);
}

@mixin font-figma-button($_fontSize: 24px, $_lineHeight: 121%) {
  font-weight: 600;
  font-size: $_fontSize;
  line-height: $_lineHeight;
  font-family: var(--font-family);
}

// Weight mixins
@mixin font-bold($_fontSize, $_lineHeight: 100%, $_fontFamily: 'Inter', $_letterSpacing: normal) {
  font-weight: 700;
  font-size: $_fontSize;
  line-height: $_lineHeight;
  font-family: $_fontFamily;
  letter-spacing: $_letterSpacing;
}

@mixin font-regular($_fontSize, $_lineHeight: 100%, $_fontFamily: 'Inter', $_letterSpacing: normal) {
  font-weight: 400;
  font-size: $_fontSize;
  line-height: $_lineHeight;
  font-family: $_fontFamily;
  letter-spacing: $_letterSpacing;
}

