@mixin effect-focus {
  &:focus-visible {
    border-radius: 2px;
    outline: var(--white) 2px solid;
  }
}

@mixin effect-hover {
  @media screen and (hover: hover) {
    transition: color var(--time-hover);
    &:hover {
      color: var(--white);
    }
  }
}

@mixin effect-hover-NavLink {
  transition: color var(--time-hover);
  @media screen and (hover: hover) {
    &:hover {
      color: var(--grey2);
    }
  }
}
