@mixin effect-focus-orange {
  &:focus-visible {
    border-radius: 2px;
    outline: var(--orange-juice) 2px solid;
  }
}

@mixin effect-focus-blueberry {
  &:focus-visible {
    border-radius: 2px;
    outline: var(--blueberry) 2px solid;
  }
}

@mixin effect-focus-SliderBullet {
  &:focus-visible {
    outline: var(--blueberry) 2px solid;
  }
}

@mixin effect-hover-text-grey {
  @media screen and (hover: hover) {
    transition: color var(--time-hover);
    &:hover {
      color: var(--grey2);
    }
  }
}

@mixin effect-hover-ContactLink {
  @media screen and (hover: hover) {
    transition: opacity var(--time-hover);
    &:hover {
      opacity: 0.7;
    }
  }
}

@mixin effect-MainButton {
  transition: background-color var(--time-hover);
  &:active {
    background-color: var(--dark-orange);
  }
  &:focus-visible {
    outline: var(--blueberry) 3px solid;
  }
  @media screen and (hover: hover) {
    &:hover {
      background-color: var(--light-orange);
    }
  }
}
